* {
  margin: 10;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
  background-image: url(https://images.vexels.com/media/users/3/146958/raw/2333cf261c71020f55937420ff29c8aa-diseno-de-fondo-futurista-abstracto.jpg);
}

p {
  font-size: 24px;
  color: #fff;
  position: relative;
  left: 95px;
  top: 50px;
}

#codebox {
  width: 500px;
  height: 150px;
}

#box2 {
  width: 700px;
  height: 450px;
  background: #1a1e1fda;
  margin: 100px 150px;
  position: absolute;
}

#shift {
  width: 50px;
  height: 30px;
}

#logo {
  width: 230px;
  position: absolute;
  top: 0;
  left: 0;
}

#button2 {
  font-size: 16px;
  position: relative;
  bottom: -250px;
  left: 120px;
  background-color: #e7e7e7;
  color: black;
  border-radius: 12px;
  padding: 10px 24px;
  transition-duration: 0.4s;
}
#button2:hover {
  background-color: #1a1a1a; /* Green */
  color: rgb(94, 91, 91);
}

#button3 {
  font-size: 16px;
  position: relative;
  bottom: -250px;
  left: -120px;
  background-color: #e7e7e7;
  color: black;
  border-radius: 12px;
  padding: 10px 24px;
  transition-duration: 0.4s;
}
#button3:hover {
  background-color: #1a1a1a; /* Green */
  color: rgb(94, 91, 91);
}

#code {
  font-size: 14px;
  position: relative;
  top: 30px;
  left: 500px;
  background-color: #e7e7e7;
  color: black;
  border-radius: 12px;
  padding: 10px 24px;
  transition-duration: 0.4s;
}
#code:hover {
  background-color: #1a1a1a; /* Green */
  color: rgb(94, 91, 91);
}

#decode {
  font-size: 16px;
  position: relative;
  bottom: -180px;
  left: 250px;
  background-color: #e7e7e7;
  color: black;
  border-radius: 12px;
  padding: 10px 24px;
  transition-duration: 0.4s;
}
#decode:hover {
  background-color: #1a1a1a; /* Green */
  color: rgb(94, 91, 91);
}

#content1 {
  height: 20px;
  overflow: hidden;
  background-color: #b3b3b3;
  position: absolute;
  top: 0;
}

#content2 {
  color: #000;
  -webkit-animation-name: informativewords;
  -webkit-animation-duration: 40s;
  -moz-animation-name: informativewords;
  -moz-animation-duration: 40s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes informativewords {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: -100%;
  }
}

@-moz-keyframes informativewords {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: -100%;
  }
}
