#box {
  width: 700px;
  height: 350px;
  background: #461a1a;
  margin: 190px 150px;
  border: 10px solid #000;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://wallpaperaccess.com/full/378368.jpg);
}

#login {
  font-size: 40px;
  width: 250px;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 100px 280px;
  position: relative;
  right: 30px;
}

#logo {
  width: 230px;
  position: absolute;
  top: 0;
  left: 0;
}

#enter {
  background-color: #e7e7e7;
  color: black;
  border-radius: 12px;
  padding: 10px 24px;
  transition-duration: 0.4s;
}
#enter:hover {
  background-color: #1a1a1a; /* Green */
  color: white;
}
